{%  extends 'institute/base.html' %}

{% block content %}
		<br>
<div class="alert alert-danger print-error-msg" style="display:none">
    <ul></ul>
</div>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card card-body">
					<h5>Syllabus Update</h5>
				</div>
				<p class="form_msg text-center"></p>
				<div class="card card-body">
					<form id="syllabus-form" enctype="multipart/form-data" method="POST" novalidate>
						{% csrf_token %}
                        <input type="hidden" name="syllabus_id" value="{{object.id}}">
						<div class="form-group">
							<label for="exampleInputEmail1">{{form.title.label}}</label>
							{{form.title}}
							<span class="text-danger">{{form.errors.title}}</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">{{ form.section.label }}</label>
							{{form.section}}
							<span class="text-danger">{{form.errors.section}}</span>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">{{ form.classes.label }}</label>
							{{form.classes}}
							<span class="text-danger">{{form.errors.classes}}</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">{{ form.subject.label }}</label>
							{{form.subject}}
							<span class="text-danger">{{form.errors.subject}}</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">{{ form.file.label }}</label>
							{{form.file}}
							<span class="text-danger">{{form.errors.file}}</span>
						</div>
                        <div class="form-group">
							<label for="exampleInputEmail1">{{ form.note.label }}</label>
							{{form.note}}
							<span class="text-danger">{{form.errors.note}}</span>
						</div>
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>

		</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $('#syllabus-form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: "/update_syllabus/",
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    printSuccess('Success');
                    }else{
                        console.log(data.error)
                        printErrorMsg(data.error);
                    }
             },
             complete:function(){
               $('body, html').animate({scrollTop:$('body').offset().top}, 'fast');
            },

            cache: false,
            contentType: false,
            processData: false

        });

        function printSuccess(msg) {
            $(".form_msg").html('');
            $(".form_msg").removeClass('dn alert-danger').addClass('alert-success');
            $(".form_msg").append('<p>'+msg+'</p>');
            window.setTimeout(function() {
                    window.location.href = '/syllabus';
                },500);

        }
           function printErrorMsg (msg) {
             $(".form_msg").html('');
             $(".form_msg").removeClass('dn');
            $.each( msg, function( key, value ) {
                if (value) {
                 $(".form_msg").append('<p class="alert-danger">'+key+' - '+value+'</p>');
                return false;
              }
            });
        }
    });
</script>
{% endblock content %}