{%  extends 'institute/base.html' %}

{% block content %}
		<br>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card card-body">
					<h5>Stopage</h5>
				</div>
				<div class="card card-body">
					<form action="" method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">{{ form.name.label }}</label>
									{{form.name}}
									<span class="text-danger">{{form.errors.name}}</span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">{{ form.lat.label }}</label>
									{{form.lat}}
									<span class="text-danger">{{form.errors.lat}}</span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">{{ form.long.label }}</label>
									{{form.long}}
									<span class="text-danger">{{form.errors.long}}</span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">{{ form.fare.label }}</label>
									{{form.fare}}
									<span class="text-danger">{{form.errors.fare}}</span>
								</div>
							</div>
						
							<div class="col-md-12">
								<div class="form-group">
									<label for="exampleInputEmail1">{{ form.address.label }}</label>
									{{form.address}}
									<span class="text-danger">{{form.errors.address}}</span>
								</div>
							</div>
						</div>	
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
			
		</div>

{% endblock content %}