{% extends "institute/base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card card-header bg-info text-white">
                <h1>Hostel Type List</h1>
            </div>
        </div>
        <div class="col-md-7">

            <div class="card card-header">
                <h4>Hostel Type</h4>
            </div>
            <p class="form_msg"></p>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Serial</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    {% for row in hostel_types %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{row.type}}</td>
                        <td>{{row.description}}</td>
                        <td><a href="/edit_hostel_type/{{row.id}}" class="btn btn-info">Edit</a>
                        <td>
                            <button class="btn btn-danger" onClick="deleteUser({{row.id}})">DELETE</button>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card card-header">
                <h4>Add New Hostel Type</h4>
            </div>
                <div class="alert alert-danger print-error-msg" style="display:none">
            <ul></ul>
        </div>
            <div class="card card-body">
                <form id="hostel-type-form" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Type</label>
                        {{form.type}}
                        <span class="text-danger">{{form.errors.type}}</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        {{form.description}}
                        <span class="text-danger">{{form.errors.description}}</span>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
function deleteUser(id) {
  var action = confirm("Are you sure you want to delete this Data?");
  if (action != false) {
    $.ajax({
        url: '/delete_hostel_type/',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
             $(".form_msg").addClass('alert-success');
             $(".form_msg").append('<p class="text-success">'+ 'Data has been deleted!' +'</p>');
            }
        }
    });
  }
}

</script>

<script type="text/javascript">
   $('#hostel-type-form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: "/add_hostel_type/",
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    printSuccess('Success');
                    }else{
                        console.log(data.error)
                        printErrorMsg(data.error);
                    }
             },
             complete:function(){
               $('body, html').animate({scrollTop:$('body').offset().top}, 'fast');
            },

            cache: false,
            contentType: false,
            processData: false

        });

        function printSuccess(msg) {
            $(".form_msg").html('');
            $(".form_msg").removeClass('dn alert-danger').addClass('alert-success');
            $(".form_msg").append('<p>'+msg+'</p>');
            window.setTimeout(function() {
                    window.location.href = '/types';
                },500);

        }
           function printErrorMsg (msg) {
             $(".form_msg").html('');
             $(".form_msg").removeClass('dn');
            $.each( msg, function( key, value ) {
                if (value) {
                 $(".form_msg").append('<p class="alert-danger">'+key+' - '+value+'</p>');
                return false;
              }
            });
        }
    });

</script>

{% endblock  %}
