{%  extends 'institute/base.html' %}

{% block content %}
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card card-body">
					<h5>Add Staff</h5>
				</div>
				<p class="form_msg text-center"></p>
				<div class="card card-body">
					<form id="staff-from" method="POST">
						{% csrf_token %}
						<input type="hidden" name="hostel_id" value="{{hostel_id}}">
						<div class="form-group">
							<label for="exampleInputEmail1">User</label>
							<select name="user_id" id="" class="form-control select2" required>
								{% for row in staff  %}
									<option value="{{row.id}}">{{row.username}}</option>
								{% endfor %}
							</select>
							<span class="text-danger">{{form.errors.user}}</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Designation</label>
							<select name="designation" class="form-control select2">
								{% for row in designation  %}
									<option value="{{row.id}}">{{row.title}}</option>
								{% endfor %}
							</select>
							<span class="text-danger">{{form.errors.title}}</span>
						</div>
						
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
			
		</div>
<script>
	$('#staff-form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: "/assign_staff/",
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    printSuccess('Success');
                    }else{
                        console.log(data.error)
                        printErrorMsg(data.error);
                    }
             },
             complete:function(){
               $('body, html').animate({scrollTop:$('body').offset().top}, 'fast');
            },

            cache: false,
            contentType: false,
            processData: false

        });

        function printSuccess(msg) {
            $(".form_msg").html('');
            $(".form_msg").removeClass('dn alert-danger').addClass('alert-success');
            $(".form_msg").append('<p>'+msg+'</p>');
            window.setTimeout(function() {
                    window.location.href = '/rooms/';
                },500);

        }
           function printErrorMsg (msg) {
             $(".form_msg").html('');
             $(".form_msg").removeClass('dn');
            $.each( msg, function( key, value ) {
                if (value) {
                 $(".form_msg").append('<p class="alert-danger">'+key+' - '+value+'</p>');
                return false;
              }
            });
        }
    });

</script>
{% endblock content %}