{% extends "institute/base.html" %}

{% block content %}
{% if messages %}
  <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
          <p>{{ message }}</p>
      </div>
      {% endfor %}
    </div>

  </div>
{% endif %}
<div class="row">
	<div class="col-md-8 offset-md-2">
		<hr>
		<p class="form_msg text-center"> </p>
		<div class="card card-header">
		<h1>Hostel
			<a class="btn btn-primary  float-right" href="{% url 'add_hostel' %}"> + Create Hostel</a></h1>
		</div>
		<div class="card card-body"> 
			<table class="table table-sm">
				<tr>
					<th>Serial</th>
					<th>Name</th>
					<th>Address</th>
					<th>Type</th>
					<th>Action</th>
				</tr>
				{% for row in hotels  %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{row.name}}</td>
						<td>{{row.address}}</td>
						<td>{{row.type}}</td>
						<td>
						<a href="/hostel_staff/{{row.id}}" class="btn btn-success" title="Staff"><i class="fa fa-address-book-o"></i></a>
						<a href="/hostel_add_student/{{row.id}}" class="btn btn-primary" title="Student"><i class="fa fa-users"></i></a>
						<a href="room/{{row.id}}" class="btn btn-warning" title="Room"><i class="fa fa-bed"></i></a>
						<a href="/hostel_detail/{{ row.id }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
						<a href="/edit_hostel/{{ row.id }}" class="btn btn-success"><i class="fa fa-edit"></i></a>
						<button class="btn btn-danger" onClick="deleteUser({{row.id}})"><i class="fa fa-trash"></i></button>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
  <script type="text/javascript">
function deleteUser(id) {
  var action = confirm("Are you sure you want to delete this Data?");
  if (action != false) {
    $.ajax({
        url: '/delete_hostel/',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
             $(".form_msg").append('<p class="text-success">'+ 'Data has been deleted!' +'</p>');

            }else{
            	alert('Something went wrong')
            }
        }
    });
  }
}
</script>
{% endblock  %}
