{% extends "institute/base.html" %}

{% block content %}
<div class="alert alert-danger print-error-msg" style="display:none">
    <ul></ul>
</div>
<div class="col-md-6">
    <div class="card card-header">
        <h4>Add New Room Type</h4>
    </div>
    <div class="card card-body">
        <form id="friend-form" method="POST" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Type</label>
                {{form.type}}
                <span class="text-danger">{{form.errors.type}}</span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                {{form.description}}
                <span class="text-danger">{{form.errors.description}}</span>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $('#friend-form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: "/add_room_type/",
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                   alert('Room Add successfully')
                    }else{
                        console.log(data.error)
                        printErrorMsg(data.error);
                    }
             },
            cache: false,
            contentType: false,
            processData: false

        });
           function printErrorMsg (msg) {
            $(".print-error-msg").find("ul").html('');
            $(".print-error-msg").css('display','block');
            $.each( msg, function( key, value ) {
                if (value) {
                $(".print-error-msg").find("ul").append('<li>'+key+' - '+value+'</li>');
                return false;
              }
            });
        }
    });
</script>
{% endblock %}