{% extends 'institute/base.html' %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<hr>
		<p class="form_msg text-center"> </p>
		<div class="card card-header">
		<h1>Professionals
			<a class="btn btn-primary  float-right" href="/add_professionals"> + Add Staff</a></h1>
		</div>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Serial</th>
					<th>Name</th>
					<th>Address</th>
					<th>Type</th>
					<th>Action</th>
				</tr>
				{% for row in profession  %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{row.first_name}} {{row.last_name}}</td>
						<td>{{row.designation}}</td>
						<td>{{row.work_type}}</td>
						<td>
						<a href="/edit_hostel/{{ row.id }}" class="btn btn-success"><i class="fa fa-edit"></i></a>
						<button class="btn btn-danger" onClick="deleteUser({{row.id}})"><i class="fa fa-trash"></i></button>
					</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endblock %}