{% extends 'institute/base.html' %}
{% block content %}
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">SignIn form </h3>
                </div>
                {% if msg %}
                {{ msg | safe }}
                {% else %}
                Use default credentials
                {% endif %}
                <div class="panel-body">
                    <form role="form" method="post" action="">

                        {% csrf_token %}

                        <div class="input-group mb-3">
                            <div class="input-group-prepend"><span class="input-group-text">
                  </span></div>
                            {{ form.username }}
                        </div>

                        <div class="input-group mb-4">
                            <div class="input-group-prepend"><span class="input-group-text">
                    </span></div>
                            {{ form.password }}
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <button type="submit" name="login" class="btn btn-primary px-4">Login</button>
                            </div>
                            <div class="col-6 text-right">
                                <a href="{% url 'register' %}" class="btn btn-link px-0">Register</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}