<div id="hide-table">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="col-sm-1">#</th>
            <th class="col-sm-1">Photo</th>
            <th class="col-sm-2">Name</th>
            <th class="col-sm-2">Email</th>
            <th class="col-sm-1">Roll</th>
            <th class="col-sm-5">
                Attendance
            </th>
        </tr>
        </thead>
        <tbody id="list">
        <tr>
            <td data-title="#">
                1
            </td>
            <td data-title="Photo">
                <a width="35px" height="35px" class="card-image img-rounded is-loaded" href="#"
                   style="background-image: url(https://demo.inilabs.net/school/v4.4/uploads/images/default.png);"
                   data-image-full="https://demo.inilabs.net/school/v4.4/uploads/images/default.png"><img
                        class="img-rounded" width="35px" height="35px"
                        src="https://demo.inilabs.net/school/v4.4/uploads/images/default.png" alt="Psychopomp"></a></td>
            <td data-title="Name">
                Shabbir Rahman
            </td>

            <td data-title="Email">
                sabbir@inilabs.net
            </td>
            <td data-title="Roll">
                1
            </td>
            <td class="studentID" data-studentid="1" data-title="Attendance">
                <input type="radio" class="attendance btn btn-warning present" id="136-1" value="P"
                       name="attendance136"> <label style="vertical-align:  middle;display: inline;"
                                                    for="136-1">Present </label> <input type="radio"
                                                                                        class="attendance btn btn-warning lateexcuse"
                                                                                        id="136-2" value="LE"
                                                                                        name="attendance136"> <label
                    style="vertical-align:  middle;display: inline;" for="136-2">Late Present With Excuse </label>
                <input type="radio" class="attendance btn btn-warning late" id="136-3" value="L" name="attendance136">
                <label style="vertical-align:  middle;display: inline;" for="136-3">Late Present </label> <input
                    type="radio" class="attendance btn btn-warning absent" id="136-4" value="A" name="attendance136">
                <label style="vertical-align:  middle;display: inline;" for="136-4">Absent </label></td>
        </tr>
        <tr>
            <td data-title="#">
                2
            </td>
            <td data-title="Photo">
                <a width="35px" height="35px" class="card-image img-rounded is-loaded" href="#"
                   style="background-image: url(https://demo.inilabs.net/school/v4.4/uploads/images/default.png);"
                   data-image-full="https://demo.inilabs.net/school/v4.4/uploads/images/default.png"><img
                        class="img-rounded" width="35px" height="35px"
                        src="https://demo.inilabs.net/school/v4.4/uploads/images/default.png" alt="Psychopomp"></a></td>
            <td data-title="Name">
                Nasir Hossain
            </td>

            <td data-title="Email">
                nasir@inilabs.net
            </td>
            <td data-title="Roll">
                2
            </td>
            <td class="studentID" data-studentid="2" data-title="Attendance">
                <input type="radio" class="attendance btn btn-warning present" id="137-1" value="P"
                       name="attendance137"> <label style="vertical-align:  middle;display: inline;"
                                                    for="137-1">Present </label> <input type="radio"
                                                                                        class="attendance btn btn-warning lateexcuse"
                                                                                        id="137-2" value="LE"
                                                                                        name="attendance137"> <label
                    style="vertical-align:  middle;display: inline;" for="137-2">Late Present With Excuse </label>
                <input type="radio" class="attendance btn btn-warning late" id="137-3" value="L" name="attendance137">
                <label style="vertical-align:  middle;display: inline;" for="137-3">Late Present </label> <input
                    type="radio" class="attendance btn btn-warning absent" id="137-4" value="A" name="attendance137">
                <label style="vertical-align:  middle;display: inline;" for="137-4">Absent </label></td>
        </tr>
        <tr>
            <td data-title="#">
                3
            </td>
            <td data-title="Photo">
                <a width="35px" height="35px" class="card-image img-rounded is-loaded" href="#"
                   style="background-image: url(https://demo.inilabs.net/school/v4.4/uploads/images/default.png);"
                   data-image-full="https://demo.inilabs.net/school/v4.4/uploads/images/default.png"><img
                        class="img-rounded" width="35px" height="35px"
                        src="https://demo.inilabs.net/school/v4.4/uploads/images/default.png" alt="Psychopomp"></a></td>
            <td data-title="Name">
                Mosaddek Hossain
            </td>

            <td data-title="Email">
                mosaddek@inilabs.net
            </td>
            <td data-title="Roll">
                3
            </td>
            <td class="studentID" data-studentid="3" data-title="Attendance">
                <input type="radio" class="attendance btn btn-warning present" id="138-1" value="P"  name="attendance138">
                <label style="vertical-align:  middle;display: inline;"
                                                    for="138-1">Present </label>
                <input type="radio"class="attendance btn btn-warning lateexcuse" id="138-2" value="LE" name="attendance138"> <label
                    style="vertical-align:  middle;display: inline;" for="138-2">Late Present With Excuse </label>
                <input type="radio" class="attendance btn btn-warning late" id="138-3" value="L" name="attendance138">
                <label style="vertical-align:  middle;display: inline;" for="138-3">Late Present </label> <input
                    type="radio" class="attendance btn btn-warning absent" id="138-4" value="A" name="attendance138">
                <label style="vertical-align:  middle;display: inline;" for="138-4">Absent </label></td>
        </tr>
        </tbody>
    </table>
</div>