<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}All About {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <style type="text/css">
      .page-header {
        margin-top: 0;
      }

    </style>


</head>
<body>

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/hostels">Hostel</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/types">Hostel Types</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/rooms">Rooms</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/room_types">Room Types </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/institutes">Institute </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/add_room"> Add Room </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/designations">Designations</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/parents">Parents</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/students">Students</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/teachers">Teachers</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/committees">Committees</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/author_list">Author List</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/publisher_list">Publisher List</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/subjects">Subject List</a>
                </li>


            </ul>
        </div>
    </div>
</nav>
{% endblock %}

<div class="container mt-4">
    {% block content %}


    {% endblock %}
</div>

{% block js %}
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/cropper.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

{% endblock %}

{% block custom_js %}
{% endblock %}
</body>
</html>