{% extends 'institute/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<form class="form-group" action="" method="post" enctype="multipart/form-data" novalidate>
     {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.full_name.label }}">{{ form.full_name.label }}</label>
        {{ form.full_name }}
    </div>
    <div class="form-group">
        <label for="{{ form.gender.label }}">{{ form.gender.label }}</label>
        {{ form.gender }}
    </div>
    <div class="form-group">
        <label for="{{ form.educational_qualification.label }}">{{ form.educational_qualification.label }}</label>
        {{ form.educational_qualification }}
    </div>
    <div class="form-group">
        <label for="{{ form.designation.label }}">{{ form.designation.label }}</label>
        {{ form.designation }}
    </div>
    <div class="form-group">
        <label for="{{ form.joining_date.label }}">{{ form.joining_date.label }}</label>
        {{ form.joining_date }}
    </div>
    <div class="form-group">
        <label for="{{ form.expire_date.label }}">{{ form.expire_date.label }}</label>
        {{ form.expire_date }}
    </div>
    <div class="form-group">
        <label for="{{ form.blood_group.label }}">{{ form.blood_group.label }}</label>
        {{ form.blood_group }}
    </div>
    <div class="form-group">
        <label for="{{ form.dob.label }}">{{ form.dob.label }}</label>
        {{ form.dob }}
    </div>
    <button type="submit" class="btn btn-success">Save Committee</button>
</form>


{% endblock %}