{% extends 'institute/base.html' %}
{% block content %}
<form action="" method="GET">
    <span><input type="date" class="search_date my-control" name="search_date" value="{{ search_date }}" ></span>
            <a id="today" class="btn btn-warning">Search</a>
    <button class="btn btn-info" value="" >Cancel</button>
</form>
<table class="table table-bordered">
<thead>
    <tr>
        <th></th>
        <th>06:00 </th>
        <th>07:00 ~ 07:50</th>
        <th>08:00 ~ 08:50</th>
        <th>09:00 ~ 09:50</th>
        <th>10:00 ~ 10:50</th>
    </tr>
</thead>
<tbody>
    {% for trainer in trainer_dict %}
        <tr>
            <td>{{ trainer.first_name }}</td>
            <td>{{ trainer.hour_21 }}</td>
            <td>{{ trainer.hour_22 }}</td>
            <td>{{ trainer.hour_23 }}</td>
            <td>{{ trainer.hour_0 }}</td>
            <td>{{ trainer.hour_1 }}</td>
        </tr>
    {% endfor %}
</tbody>

</table>
{% endblock content %}

